@import "reset.css";
@font-face {
  font-family: "MapoFlowerIsland";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@import "components/clock.css";
@import "components/greetings.css";
@import "components/todo.css";

@import "weather.css";
@import "quote.css";

#bgImage {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 0.6;
}

body {
  height: 100vh;
  box-sizing: border-box;
  font-family: "MapoFlowerIsland";
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* weather div */
#weather {
  height: 10%;
  font-size: 18px;
  display: flex;
  align-items: center;
  /* margin-top: 25px; */
}
#weather span:first-child {
  margin-right: 5px;
}

/* main-body div */
.main-body {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* main-body clock */
.clock {
  display: flex;
  flex-direction: column;
}

.clock-date {
  font-size: 17px;
  padding: 0px 20px;
}
.clock-time {
  /* padding: 0px 20px; */
  display: flex;
  align-items: center;
  font-size: 100px;
}

.clock-time span {
  margin-right: 15px;
  font-size: 40px;
}

/* main-body greetings */
#greeting {
  font-size: 40px;
  font-weight: 600;
  animation: fadeOutGreeting 2s linear forwards;
}

@keyframes fadeOutGreeting {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.login-form {
  margin-top: 80px;
  display: flex;
}
.login-form input {
  border: none;
  outline: none;
  background: inherit;
  font-family: "MapoFlowerIsland";
  transition: border-color 0.5s ease-in-out;
}
.login-form input:first-child {
  padding: 5px 20px;
  font-size: 35px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.login-form input:first-child:focus,
.login-form input:first-child:hover {
  border-color: black;
}
.login-form input:first-child::placeholder {
  opacity: 0.8;
}

.login-form input:last-child {
  font-size: 20px;
}
.login-form input:last-child:hover {
  cursor: pointer;
  /* border: 1px solid white; */
  /* border-color: black; */
}

/* quote div */
#quote {
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#quote span:first-child {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.row {
  display: flex;
  flex-direction: row;
}
